<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, userUF-scalable=no" name="viewport"/>
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
        <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
    </div>
    <div th:fragment="topbar2">
        <div class="layui-header">
            <div class="layui-logo">UF</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/uploadFile/mainPage">首页</a></li>
                <li class="layui-nav-item"><a href="/uploadFile/myTask">审核任务</a></li>
                <li class="layui-nav-item"><a href="/uploadFile/myDownload">下载记录</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                        <span th:text="${user_name}">用户名称</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a href="javascript:;">个人信息</a></dd>
                        <dd style="text-align: center;">
                            <a href="javascript:;" th:text="${curr_role}"></a>
                        </dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/login/out" id="signOu">朕退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div th:fragment="topbar">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black">UF</div>
            <ul class="layui-nav layui-layout-left">
                <!-- 移动端显示 -->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                        <span th:text="${user_name}">用户名称</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人信息</a></dd>
                        <dd>
                            <a href="javascript:;" th:text="${curr_role}"></a>
                        </dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/login/out" id="signOu">朕退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div th:fragment="left_menu">
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="leftMenu" lay-shrink="all">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">欢迎页面</a>
                    </li>
                    <li class="layui-nav-item" th:each="parent : ${menu}">
                        <a class="" href="javascript:;"><span th:text="${parent.name}">父菜单</span></a>
                        <dl class="layui-nav-child">
                            <dd th:each="child : ${parent.child}">
                                <a th:href="${child.url}">
                                    <span th:text="${child.name}">子菜单</span>
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:fragment="bottom">
        <div class="layui-footer">
            底部固定区域
        </div>
    </div>
</html>