<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主界面</title>
    <div th:replace="link::header"></div>
    <div th:replace="script::js_footer"></div>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">UF</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">nav 1</a></li>
            <li class="layui-nav-item"><a href="">nav 2</a></li>
            <li class="layui-nav-item"><a href="">nav 3</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">nav groups</a>
                <dl class="layui-nav-child">
                    <dd><a href="">menu 11</a></dd>
                    <dd><a href="">menu 22</a></dd>
                    <dd><a href="">menu 33</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    <span th:text="${user_name}">测试名称</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="">查看记录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/login/out" id="signOut">注销</a></li>
        </ul>
    </div>

    <div class="layui-body" style="left: 0">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer" style="left: 0">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(function(){

        layui.$('#signOut').click(function () {
            var url = basePath + '/login/signOut';
            layui.$.ajax({
                url: url,
                dataType: 'json',
                type: 'get',
                success:function(data){
                    layer.msg(data.msg);
                    if(data.code == respSuccess){
                        window.location.href = '/index';

                    }
                }
            })
        });
    });
</script>
</body>
</html>