<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文件搬运工</title>
    <div th:replace="link::header"></div>
    <div th:replace="script::js_footer"></div>
    <script th:src="@{/js/pdfobject.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
    <style>
        .imgCover {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
        }
        .pdfobject-container {
            height: 30rem;
            border: 1rem solid rgba(0,0,0,.1);
        }
    </style>
</head>
<body>
<img th:src="@{/img/bg.jpg}" class="imgCover" style="z-index: -1; position: absolute; left: 0; top: 0;"/>
<div class="layui-layout layui-layout-admin">
    <div th:replace="link::topbar2"></div>

    <div class="layui-body" style="left: 0">
        <div class="layui-container" style="margin-top: 5%;">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>当前任务</legend>
                <div class="layui-field-box">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6" th:if="${tasks.size() == 0}">
                            <div class="layui-panel">
                                <div style="padding: 30px;">没有待处理的任务</div>
                            </div>
                        </div>
                        <div class="layui-col-md6" th:each="task : ${tasks}">
                            <div class="layui-card" th:id="${task.id}">
                                <div class="layui-card-header" th:text="${task.taskName}"></div>
                                <div class="layui-card-body">
                                    <p th:text="'申请人: '+${task.userName}+'('+${task.userAccount}+')'"></p>
                                    <p th:text="'审核人: '+${task.reviseName}+'('+${task.reviseAccount}+')'"></p>
                                    <p th:text="'文件名称: '+${task.fileName}"></p>
                                    <p th:text="'文件大小: '+${task.fileSize}"></p>
                                    <p th:text="'流程状态: '+${task.status}"></p>
                                    <p th:text="${'发起时间: '+task.taskStartTime}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>历史任务</legend>
                <div class="layui-field-box">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6" th:if="${historyTasks.size() == 0}">
                            <div class="layui-panel">
                                <div style="padding: 30px;">（空）</div>
                            </div>
                        </div>
                        <div class="layui-col-md6" th:each="task : ${historyTasks}">
                            <div class="layui-card">
                                <div class="layui-card-header" th:text="${task.taskName}"></div>
                                <div class="layui-card-body">
                                    <p th:text="'申请人: '+${task.userName}+'('+${task.userAccount}+')'"></p>
                                    <p th:text="'审核人: '+${task.reviseName}+'('+${task.reviseAccount}+')'"></p>
                                    <p th:text="'文件名称: '+${task.fileName}"></p>
                                    <p th:text="'文件大小: '+${task.fileSize}"></p>
                                    <p th:text="'流程状态: '+${task.status}"></p>
                                    <p th:text="${'发起时间: '+task.taskStartTime}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-footer" style="left: 0">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
<script>
    layui.use(['layer'], function(){
        var layer = layui.layer;
        var $ = layui.$;
        var load = null;

    });
</script>
</body>
</html>