<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户角色管理</title>
    <div th:replace="link::header"></div>
    <div th:replace="script::js_footer"></div>
    <style>
        .layui-layer-page .layui-layer-content {
            overflow: visible !important;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="link::topbar"></div>
    <div th:replace="link::left_menu"></div>
    <div class="layui-body" style="padding: 3%">
        <fieldset class="layui-elem-field">
            <legend>用户角色查询</legend>
            <div class="layui-field-box">
                <form class="layui-form layui-form-pane" id="conditionForm">
                    <div class="layui-form-item">
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="searchSubmit" >查询</button>
                            <a class="layui-btn layui-btn-sm btn-data" data-type="insert">新增</a>
                            <a class="layui-btn layui-btn-sm layui-btn-danger btn-data" data-type="delete">批量删除</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户账号</label>
                            <div class="layui-inline">
                                <select name="account" lay-search="">
                                    <option value="">无</option>
                                    <option th:each="opt : ${user_select}" th:value="${opt.account}" th:text="${opt.name}+'('+${opt.account}+')'">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-top:5px">
                            <label class="layui-form-label">角色名称</label>
                            <div class="layui-inline">
                                <select name="roleId">
                                    <option value="">无</option>
                                    <option th:each="opt : ${role_select}" th:value="${opt.id}" th:text="${opt.roleName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-top:5px">
                            <label class="layui-form-label">使用状态</label>
                            <div class="layui-inline">
                                <select name="status">
                                    <option value="">无</option>
                                    <option value="0">使用</option>
                                    <option value="1">不使用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-table" id="userRoleTable" lay-filter='tableRoleFilter'></table>
        <script type="text/html" id="rowBtn">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </script>
    </div>
    <div id="insert_div" style="display: none">
        <div class="layui-row" style="width: 700px; margin: 20px;">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户</label>
                        <div class="layui-inline">
                            <select name="account" lay-search="">
                                <option selected></option>
                                <option th:each="opt : ${user_select}" th:value="${opt.account}" th:text="${opt.name}+'('+${opt.account}+')'">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-inline">
                            <select name="roleId" lay-search="">
                                <option selected></option>
                                <option th:each="opt : ${role_select}" th:value="${opt.id}" th:text="${opt.roleName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否使用</label>
                    <div class="layui-inline">
                        <select name="status">
                            <option value="0">使用</option>
                            <option value="1">不使用</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="edit_div" style="display: none">
        <div class="layui-row" style="width: 700px; margin: 20px;">
            <form class="layui-form">
                <div class="layui-form-item">
                    <input class="layui-hide" name="id">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户</label>
                        <div class="layui-inline">
                            <select name="account" lay-search="">
                                <option th:each="opt : ${user_select}" th:value="${opt.account}" th:text="${opt.name}+'('+${opt.account}+')'">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-inline">
                            <select name="roleId" lay-search="">
                                <option th:each="opt : ${role_select}" th:value="${opt.id}" th:text="${opt.roleName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否使用</label>
                    <div class="layui-inline">
                        <select name="status">
                            <option value="0">使用</option>
                            <option value="1">不使用</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="link::bottom"></div>
</div>
<script>
    layui.use(['element', 'layer', 'table', 'form'], function(){
        var layer = layui.layer;
        var element = layui.element;
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;

        var userRoleTable = table.render({
            elem: '#userRoleTable',
            url:'/user/role/list',
            cols:[ [
                {type: 'checkbox', width:'3%'},
                {field:'id', width:'5%', title: 'ID', hide: true},
                {field:'account', width:'20%', title: '用户账号'},
                {field:'userName', width:'20%', title: '用户名称'},
                {field:'roleId',  hide: true},
                {field:'roleName', width:'20%', title: '角色名字'},
                {field:'statusName', width: '20%', title: '使用状态'},
                {field:'status', hide: true},
                {field:'', width:'12%', title:'操作', toolbar: '#rowBtn'}
            ] ],
            page: {
                layout: ['count', 'prev', 'page', 'next', 'skip'],
                group: 3,
                limit: 10
            },
            text:{
                none: '一个菜单都木有'
            },
            loading: true,
            done: function () {
                layui.$('.layui-table').css('width', '100%');
            }
        });

        table.on('tool(tableRoleFilter)',function(obj){
            if (obj.event === 'delete') {
                var load = null;
                var index = layer.confirm('是否删除该用户角色',{
                    btn: ['删了', '再想想'],
                    title: '删除 - '+obj.data.userName + ' ' + obj.data.roleName,
                },function () {
                    $.ajax({
                        url: '/user/role/delete/this',
                        type: 'delete',
                        dataType: 'json',
                        data: {id: obj.data.id},
                        beforeSend: function(){
                            load = layer.load();
                        },
                        success: function (res) {
                            layer.close(index);
                            layer.msg(res.msg, {icon: 1});
                            userRoleTable.reload({
                                elem: '#userRoleTable',
                                url: '/user/role/list',
                                page: {
                                    curr: userRoleTable.config.page.curr
                                }
                            });
                        },
                        complete: function () {
                            layer.close(load);
                        }
                    });
                },function () {
                    layer.close(index);
                });
            }else if (obj.event === 'edit') {
                var edit_open = layer.open({
                    type: 1,
                    title: '编辑用户角色信息',
                    shadeClose: true,
                    resize: false,
                    content: '<div id="edit_div_layer">' + $('#edit_div').html() + '</div>',
                    btn: ['确定', '取消'],
                    btn1:function(){
                        var data = form.val('editFilter');
                        if (data['account'] == ''){
                            layer.msg('请输入用户',{icon:2});
                        } else if (data['roleId'] == '') {
                            layer.msg('请选择角色', {icon: 2});
                        } else {
                            $.ajax({
                                url: '/user/role/edit',
                                type: 'post',
                                dataType: 'json',
                                data: data,
                                beforeSend: function () {
                                    load = layer.load();
                                },
                                success: function (res) {
                                    if (res.code == respSuccess) {
                                        layer.msg(res.msg);
                                        layer.close(edit_open);
                                        userRoleTable.reload({
                                            elem: '#userRoleTable',
                                            url: '/user/role/list',
                                            page: {
                                                curr: userRoleTable.config.page.curr
                                            }
                                        });
                                    }
                                },
                                complete: function () {
                                    layer.close(load);
                                }
                            });
                        }
                    },
                    success: function () {
                        $('#edit_div_layer form').attr('lay-filter', 'editFilter');
                        $('#edit_div_layer input[name="id"]').val(obj.data.id);
                        $('#edit_div_layer option[value="'+obj.data.account+'"]').attr('selected', 'selected');
                        $('#edit_div_layer option[value="'+obj.data.roleId+'"]').attr('selected', 'selected');
                        $('#edit_div_layer select[name="status"]').children('option[value="'+ obj.data.status+'"]').attr('selected', 'selected');
                        form.render();
                    }
                });
            }
        });

        $('.layui-btn-group .btn-data').click(function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        var active = {
            insert : function () {
                var load = null;
                var insert_open = layer.open({
                    type: 1,
                    title: '新用户角色信息',
                    shadeClose: true,
                    resize: false,
                    content: '<div id="insert_div_layer">' + $('#insert_div').html() + '</div>',
                    btn: ['确定', '取消'],
                    btn1: function(){
                        var data = form.val('insertFilter');
                        if (data['account'] == ''){
                            layer.msg('请输入用户',{icon:2})
                        } else if (data['roleId'] == '') {
                            layer.msg('请选择角色', {icon: 2});
                        } else {
                            $.ajax({
                                url: '/user/role/new',
                                type: 'post',
                                dataType: 'json',
                                data: data,
                                beforeSend: function () {
                                    load = layer.load();
                                },
                                success: function (res) {
                                    if (res.code == respSuccess) {
                                        layer.msg(res.msg);
                                        layer.close(insert_open);
                                        userRoleTable.reload({
                                            elem: '#userRoleTable',
                                            url: '/user/role/list',
                                            page: {
                                                curr: userRoleTable.config.page.curr
                                            }
                                        });
                                    }
                                },
                                complete: function () {
                                    layer.close(load);
                                }
                            });
                        }
                    },
                    success: function () {
                        $('#insert_div_layer form').attr('lay-filter', 'insertFilter');
                        form.render();
                    }
                });
            },
            delete : function () {
                var load = null, idList = [];
                var data = table.checkStatus('userRoleTable').data;
                for (var i = 0; i < data.length; i++) {
                    idList.push(data[i]["id"]);
                }
                if (idList.length == 0) {
                    layer.msg("请选择需要删除菜单", {icon: 2});
                } else {
                    layer.confirm("将删除选中的数据，无法撤回操作，确认删除？",{
                        btn:['嗯!','算了'],
                        title: '删除提示'
                    },function () {
                        $.ajax({
                            url: '/user/role/delete/list',
                            type: 'delete',
                            dataType: 'json',
                            data: {list: idList},
                            beforeSend: function () {
                                load = layer.load();
                            },
                            success: function(res){
                                layer.msg(res.msg);
                                userRoleTable.reload({
                                    elem: '#userRoleTable',
                                    url: '/user/role/list',
                                    page: {
                                        curr:userRoleTable.config.page.curr
                                    }
                                });
                            },
                            complete: function () {
                                layer.close(load);
                            }
                        });
                    });
                }
            }
        };

        form.on('submit(searchSubmit)', function (data) {
            userRoleTable.reload({
                elem: '#userRoleTable',
                url: '/user/role/list/search',
                loading: true,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: data.field
            });
            return false;
        });
    });
</script>
</body>
</html>